.filter {
    background-image: url("../imgs/background.jpg");
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}